body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    margin: 0px;
}
#banner {
    display: flex;
    align-items: center; /* Align items vertically */
    margin: 0px 20px 0px 20px;
}
#banner img {
    height: 40px;
    margin-right: 10px;
}
#banner h1 {
    margin: 10px;   
}
#tab-buttons-container {
    white-space: nowrap;
    max-width: 100%;
    overflow-x: auto;
    margin: 0px 20px 0px 20px;
}
.tab-button {
    cursor: pointer;
    overflow: hidden;
    margin-right: 10px;
    border-width: 0px;      /* default for buttons is 2px */
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
}
.tab-button.active {
    background-color: rgb(9, 147, 183)
}
.tab-content {
    display: none;
    overflow-y: auto;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-radius: 0px 0px 10px 10px;
    border-color: rgb(9, 147, 183);
    padding: 25px;
}
.tab-content > * {
    margin-bottom: 15px;
}
.tab-content h2 {
    margin: 0px 0px 10px 0px;
}
.tab-content.active {
    display: block;
}
.row {
    display: flex;
    align-items: center;
}
.party-header {
    font-size: 13px;
    margin-bottom: 5px;
}
.party-avatar {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.support-bonus-container {
    margin-bottom: 5px;
}
.party-image {
    height: 40vh;
    border-radius: 4px;
}
.party-stats-grid {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, max-content));
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: rgb(168, 50, 111);
}
.party-cell {
    overflow: hidden; 
    padding: 2px 5px 2px 5px;
}
.discord-embed {
    margin-right: 20px;
    border-radius: 4px;
    border-left-style: solid;
    border-left-width: 5.5px;
    padding: 15px;
    background-color: oklab(0.296332 -0.000731647 -0.00768477);
    color: oklab(0.963963 -0.000228554 -0.00283051);
    line-height: 1.5;
}
.turn-results-embed {
    width: 500px;
    border-left-color: rgb(248,125,114);
}
.party-embed {
    border-left-color: rgb(246, 147, 55);
}
.ping {
    display: inline;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: oklab(0.576971 0.014185 -0.208914 / 0.3);
    background-color: oklab(0.576971 0.014185 -0.208914 / 0.3);
}
.ping:hover {
    cursor: pointer;
    filter: brightness(1.8);
}
.suggestion-container {
    align-items: stretch;
}
.suggestion-label {
    display: flex;
    flex-direction: column;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    background-color: lightblue;
}
.suggestion-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.suggestion-player {
    max-height: 40vh;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    padding: 10px;
    align-content: center;
    text-align: right;
}
.suggestion-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: oklab(0.963963 -0.000228554 -0.00283051);
    color: oklab(0.296332 -0.000731647 -0.00768477);
    border-radius: 0px 20px 20px 0px;
}
.char-stats {
    margin-bottom: 20px;
}
.pad {
    padding: 10px;
}
.icon-image {
    width: 60px;
    height: 60px;
}
.rune-button {
    border-width: 0px;
}
.popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 50%;
    opacity: 0;
    transform: scale(0);
    transition: top 0.4s, opacity 0.4s;
    text-align: center;
    border: 4px solid rgb(9, 147, 183);
    border-radius: 50px;
    padding: 40px 100px 30px 100px;
    background-color: white;
}
.popup-open {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.popup-text {
    font-size: 30px;
}
.popup-image {
    width: 125px;
    height: 125px;
}
.input-label {
    margin: 10px 0px 10px 0px;
}
.input {
    margin: 10px 0px 10px 10px;
}
.success {
    display: none;
    color: green;
}
.error {
    display: none;
    margin-bottom: 10px;
    color: red;
}
.popup-ok-button {
    margin-right: 15px;
    border: 4px solid rgb(9, 147, 183);
    border-radius: 999px;
    background-color: rgb(9, 147, 183);
    color: white;
    font-size: 20px;
}
.popup-cancel-button {
    border: 4px solid rgb(9, 147, 183);
    border-radius: 999px;
    background-color: white;
    color: rgb(9, 147, 183);
    font-size: 20px;
}
.char-select-container {
    position: relative;
}
.char-button {
    border-width: 0px;
    background-color: oklab(0.963963 -0.000228554 -0.00283051);
}
.char-select-options {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}
.temp-button {
    cursor: pointer;
    overflow: hidden;
}
.temp-button:hover {
    filter: brightness(0.9);
}
.temp-button:active {
    filter: brightness(0.8);
}
.char-other-information {
    align-items: flex-start;
    margin-bottom: 20px;
}
.list-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 9px;
}
.list-label {
    flex: 1;
    padding: 10px;
}
.list-content {
    display: grid;
    grid-template-columns: auto 1fr; 
}
.list-content > * {
    background-color: white;
}
.list-cell {
    padding: 5px;
}
.field-effects-container {
    border: 2px solid oklab(0.963963 -0.000228554 -0.00283051);
    max-width: max-content;
}
.moves-list-content {
    grid-template-columns: auto auto auto auto auto auto auto 1fr;
}
.move-resolution-container {
    width: 500px;
    border-radius: 4px; 
    border-left: 5.5px solid #C76A15;
    padding: 15px;
    background-color: rgb(254, 245, 231);
}
.move-resolution-container h3 {
    color: #C76A15
}
.select {
    margin-right: 10px;
}
.move-resolve-button {
    border: 2px solid #C76A15;
    border-radius: 999px;
    background-color: rgb(254, 245, 231);
    color: #C76A15;
}