body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    margin: 0px;
}
#banner {
    display: flex;
    align-items: center; /* Align items vertically */
    margin: 0px 20px 0px 20px;
}
#banner img {
    height: 40px;
    margin-right: 10px;
}
#banner h1 {
    margin: 10px;   
}
#tab-buttons-container {
    white-space: nowrap;
    max-width: 100%;
    overflow-x: auto;
    margin: 0px 20px 0px 20px;
}
.tab-button {
    margin-right: 10px;
    cursor: pointer;
    border-width: 0px;      /* default for buttons is 2px */
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
}
.tab-button.active {
    background-color: rgb(9, 147, 183)
}
.tab-content {
    display: none;
    overflow-y: auto;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-radius: 0px 0px 10px 10px;
    border-color: rgb(9, 147, 183);
    padding: 25px;
}
.tab-content > * {
    margin-bottom: 20px;
}
.tab-content h2 {
    margin: 0px 0px 10px 0px;
}
.tab-content.active {
    display: block;
}
.row {
    display: flex;
    align-items: center;
}
.party-header {
    font-size: 13px;
    margin-bottom: 5px;
}
.party-avatar {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.support-bonus-container {
    margin-bottom: 5px;
}
.party-image {
    height: 40vh;
    border-radius: 4px;
}
.party-stats-grid {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, max-content));
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: rgb(168, 50, 111);
}
.party-cell {
    overflow: hidden; 
    padding: 2px 5px 2px 5px;
}
.discord-embed {
    margin-right: 20px;
    border-radius: 4px;
    border-left-style: solid;
    border-left-width: 5.5px;
    padding: 15px;
    background-color: oklab(0.296332 -0.000731647 -0.00768477);
    color: oklab(0.963963 -0.000228554 -0.00283051);
    line-height: 1.5;
}
.turn-results-embed {
    width: 500px;
    border-left-color: rgb(248,125,114);
}
.party-embed {
    border-left-color: rgb(246, 147, 55);
}
.ping {
    display: inline;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: oklab(0.576971 0.014185 -0.208914 / 0.3);
    background-color: oklab(0.576971 0.014185 -0.208914 / 0.3);
}
.ping:hover {
    cursor: pointer;
    filter: brightness(1.8);
}
.suggestion-container {
    align-items: stretch;
}
.suggestion-label {
    display: flex;
    flex-direction: column;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    background-color: lightblue;
}
.suggestion-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.suggestion-player {
    max-height: 40vh;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    padding: 10px;
    align-content: center;
    text-align: right;
}
.suggestion-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: oklab(0.963963 -0.000228554 -0.00283051);
    color: oklab(0.296332 -0.000731647 -0.00768477);
    border-radius: 0px 20px 20px 0px;
}
.char-stats {
    margin-bottom: 20px;
}
.char-stat {
    padding: 10px;
}
.rune-image {
    width: 60px;
    height: 60px;
}
.char-image {
    width: 60px;
    height: 60px;
}
.char-select-container {
    position: relative;
}
.char-button {
    cursor: pointer;
    overflow: hidden;
    border-width: 0px;
    border-radius: 5px;
    background-color: oklab(0.963963 -0.000228554 -0.00283051);
}
.char-select-options {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.char-button:hover {
    filter: brightness(0.9);
}
.char-button:active {
    filter: brightness(0.8);
}
.char-other-information {
    align-items: flex-start;
    margin-bottom: 20px;
}
.list-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 9px;
}
.list-label {
    flex: 1;
    padding: 10px;
}
.list-content {
    display: grid;
    grid-template-columns: auto 1fr; 
}
.list-content > * {
    background-color: white;
}
.list-cell {
    padding: 5px;
}
.moves-list-content {
    grid-template-columns: auto auto auto auto auto 1fr;
}