body {
    font-family: 'Arial', sans-serif;
}
#banner {
    display: flex;
    align-items: center; /* Align items vertically */
}
#banner img {
    margin-right: 10px;
    height: 40px;
}
#tab-buttons-container {
    margin-bottom: 20px;
}
.tab-button {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent; /* Ensure border is consistent */
    border-radius: 5px;
}
.tab-button.active {
    background-color: rgb(145,179,255)
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}