body {
    font-family: 'Arial', sans-serif;
    margin: 0px 25px 25px 25px;
}
#banner {
    display: flex;
    align-items: center; /* Align items vertically */
    margin: 0px;
}
#banner img {
    margin-right: 10px;
    height: 40px;
}
#banner h1 {
    margin: 10px 0px 10px 0px;
}
#tab-buttons-container {
    white-space: nowrap;
    max-width: 100%;
    overflow-x: auto;
}
.tab-button {
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent; /* Ensure border is consistent */
    border-radius: 5px 5px 0px 0px;
    margin-right: 10px;
}
.tab-button.active {
    background-color: rgb(9, 147, 183)
}
.tab-content {
    display: none;
    padding: 15px;
    border-style: solid;
    border-width: 4px;
    border-radius: 0px 0px 10px 10px;
    border-color: rgb(9, 147, 183);
    overflow-y: auto;
}
.tab-content > * {
    margin-bottom: 20px;
}
.tab-content h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}
.tab-content.active {
    display: block;
}
.one-by-two {
    display: flex;
    align-items: center;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.party-header {
    margin-bottom: 5px;
    font-size: 14px;
}
.support-bonus-container {
    margin-bottom: 5px;
}
.party-image {
    height: 40vh;
    border-radius: 4px;
}
.party-stats-grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, max-content));
    border-collapse: collapse;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: rgb(168, 50, 111);
    white-space: nowrap;
}
.cell {
    padding: 2px 5px 2px 5px;
    overflow: hidden; 
}
.discord-embed {
    color: white;
    line-height: 1.5;
    background-color: oklab(0.296332 -0.000731647 -0.00768477);
    padding: 15px;
    border-radius: 4px;
    border-left-style: solid;
    border-left-width: 5.5px;
    margin-right: 10px;
}
.turn-results-embed {
    border-left-color: rgb(248,125,114);
    width: 500px;
}
.party-embed {
    border-left-color: rgb(246, 147, 55);
}
.ping {
    display: inline;
    background-color: oklab(0.576971 0.014185 -0.208914 / 0.3);
    border-style: solid;
    border-color: oklab(0.576971 0.014185 -0.208914 / 0.3);
    border-width: 1px;
    border-radius: 2px;
}
.ping:hover {
    filter: brightness(1.8);
    cursor: pointer;
}